* {
    border-radius: 3px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    color: #B5C5CF; /* Text color */
}

window#waybar {
    color: #fff;
    background: transparent;
}

tooltip {
    background: #1f1f1f;
    border-width: 1px;
    border-style: solid;
    border-color: #3f3fff;
}

/* Workspace Buttons */
#workspaces button {
    padding: 5px;
    color: #c5c5c5; /* Lighter gray */
    margin-right: 5px;
}

#workspaces button.active {
    color: #FFFFFF; /* White when active */
}

#workspaces button.focused {
    color: #FFFFFF;
    background: #3f3fff; /* Blue for focused workspace */
}

#workspaces button.urgent {
    color: #0f0f0f;
    background: #ff5252; /* Red for urgent workspaces */
}

#workspaces button:hover {
    background: #3f3fff; /* Hover state */
    color: #FFFFFF;
}

/* Modules */
#custom-media,
#custom-powermenu,
#pulseaudio,
/* #network, */
/* #bluetooth, */
#workspaces,
#tray,
#cpu,
/* #clock, */
#memory,
#temperature,
#backlight {
  margin-top: 10px;
  padding: 0px 12px;
  /* border: 1px solid #909090; */
  transition: background-color 0.3s;
}

/* Hover effect */
#custom-media:hover,
#custom-powermenu:hover,
#pulseaudio:hover,
/* #network:hover, */
/* #bluetooth:hover, */
#workspaces:hover,
#tray:hover,
#cpu:hover,
/* #clock:hover, */
#memory:hover,
#temperature:hover,
#backlight:hover {
  background-color: #3f3fff;
  color: #FFFFFF;
}

