* {
    border-radius: 2px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
}

window#waybar {
    color: #666;
    background: transparent;
}

tooltip {
    background: #1f1f1f;
    border-width: 1px;
    border-color: #1793D1;
}

/* Workspace Buttons */
/*#workspaces button {}*/

#workspaces button.active {
    color: #1793D1;
}

/*#workspaces button.focused {*/
/*}*/

#workspaces button.urgent {
    color: #0f0f0f;
    background: #A38800;
}

/* Modules */
#workspaces,
#custom-media,
#custom-powermenu,
#pulseaudio,
 #network, 
/* #bluetooth, */
#tray,
#cpu,
/* #clock, */
#memory,
#temperature,
#backlight {
  padding: 0px 12px;
  transition: background-color 0.3s;
  border: none;
}

/* Hover effect */
/* #network:hover, */
/* #bluetooth:hover, */
/*#workspaces:hover,*/
/* #clock:hover, */
#custom-media:hover,
#custom-powermenu:hover,
#pulseaudio:hover,
#tray:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#backlight:hover {
  background-color: #1793D1;
  color: #000;
}
