:root {
  --bg-color: #0f0f0f;
  --fg-color: #f0f0f0;
  --accent-color-1: #ff3f3f;
  --accent-color-2: #3fff3f;
  --accent-color-3: #3f3fff;
  --border-color: #1f1f1f;
  --secondary-text-color: #909090;
}
